<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 提供方应用信息 -->
    <dubbo:application name="dubboConsumer"/>
    <!-- 使用zookeeper注册中心暴露服务地址，可配置集群逗号分隔 -->
    <dubbo:registry address="zookeeper://192.168.61.1:2181"/>
    <!-- 使用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" threads="10"/>

    <!-- 生成远程服务代理 -->
    <dubbo:reference interface="com.accp.service.DubboTestService" id="dubboTestService"/>
</beans>